// .footer {
//     width: 50%;
//     margin: 4rem auto;
//     text-align: center;
//   }

.footer {
    height: 10px;
    display: flex;
    position: absolute;
    bottom: 0;
    background: rgb(54, 67, 78);
    color: rgb(242, 242, 242);
    justify-content: space-around;
    padding: 40px;
    width:100%;
    margin-top: 0px;
}